.dashboard {
  text-align: center;
  padding: 30px;
  min-height: 100vh;
  background: #f4f6f9;
}

.dashboard h2 {
  margin-bottom: 10px;
}

.dashboard button {
  padding: 8px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2b8478;
  color: rgb(255, 25, 217);
  transition: 0.3s;
}

.dashboard button:hover {
  background-color: #141e30;
}

.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 10px 15px;
  width: 450px;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 80%);
}

.search-box button {
  padding: 0px 15px;
  height: 45px;
  font-size: 10px;
  margin-left: 10px;
}

.movie-card {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px rgba(241, 119, 170, 0.3);
}

.movie-card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}

.movie-card p {
  font-size: 14px;
  text-align: center;
}

